<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <input matInput type="text" formControlName="name" name="name" placeholder="name">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput type="number" formControlName="age" name="age" placeholder="age">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput type="text" formControlName="adress" name="adress" placeholder="adress">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput type="number" formControlName="phone" name="phone" placeholder="phone">
  </mat-form-field>
  <br>
  <button type="submit">Enviar</button>
</form>
