<form>
  <mat-form-field>
    <input matInput type="text" name="name" placeholder="name" [(ngModel)]="user.name">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput type="number" name="age" placeholder="age" [(ngModel)]="user.age">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput type="text" name="adress" placeholder="adress" [(ngModel)]="user.adress">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput type="number" name="phone" placeholder="phone" [(ngModel)]="user.phone">
  </mat-form-field>
  <br>
  <button mat-button type="submit" (click)="onSubmit()">Edit</button>
</form>
<pre>
  {{ user | json }}
</pre>
