<h1>Home page</h1>
<div class="card-content">
    <mat-card *ngFor="let user of users">
        <mat-card-header>
            <mat-card-title>Name: {{ user.name }}</mat-card-title>
            <mat-card-subtitle>Age: {{ user.age }}</mat-card-subtitle>
        </mat-card-header>
        <img [src]="'assets/'+user.url" alt="User image">
        <mat-card-content>
            {{ user.adress }}
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="warn" (click)="remove(user.id)">Delete</button>
            <button mat-raised-button color="primary" [routerLink]="['/edit-user', user.id]">Edit</button>
        </mat-card-actions>
    </mat-card>
</div>
