<mat-toolbar color="primary">
    <button mat-button routerLink="">Home</button> <br>
    <button mat-button routerLink="/create-user">Create user</button>
</mat-toolbar>
<router-outlet></router-outlet>